langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
langchain_anthropic
langchain_chroma
python-dotenv
sentence_transformers
langchain-huggingface
langchain-openai
langchain_text_splitters
pypdf
beautifulsoup4
lxml
langgraph
docx
docx2txt
IPython
grandalf
tavily-python